<h1> Adventure Show Page </h1>
<p>Title: <%= @adventure['title']%></p>
<p>Author: <%= @adventure['author']%></p>
<%= link_to "Return to Adventure List",adventures_path%>
 <!-- link_to "Return to Adventure List",root_path -->
